@import "../../../design/mixins.scss";

.card {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 100%;
  }

  p {
    @include heading3;
    margin-top: 24px;
    margin-bottom: 16px;
  }

  span {
    @include heading4;
    color: #a18a68;
  }
}
