@import "../../design/mixins.scss";

.latestTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 40px;

  h2 {
    @include heading1;
  }

  a {
    @include heading4;
    color: var(--accent-color);
    &:hover {
      color: var(--black-color);
    }
  }
}
