@import "../../design/mixins.scss";

.drawer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

.drawerVisible {
  visibility: visible;
  opacity: 1;
  .drawerContent {
    transform: translateX(0);
  }
}

.drawerContent {
  position: absolute;
  width: 360px;
  min-height: 100%;
  z-index: 2;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 5px 25px rgba(0, 0, 0, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  h3 {
    @include heading5;
  }

  p {
    @include heading5;
    color: var(--dark-gray-color);
  }
}

.items {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.quantity {
  margin-top: 18px;
  margin-bottom: 6px;
  color: var(--dark-gray-color);
}

.bag {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  flex: 1;

  .orderButton {
    padding: 16px;

    &:active {
      background-color: var(--white-color);
      border-color: var(--black-color);
      color: var(--black-color);
    }
  }

  .subtotal {
    display: flex;
    flex-direction: column;

    p {
      align-self: flex-end;
    }
  }
}
