.filters {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 260px;
}

.search {
  border-bottom: 1px solid var(--light-gray-color);
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
