.button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
}

.white {
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
}

.black {
  border: 1px solid var(--white-color);
  background-color: var(--black-color);
  color: var(--white-color);
}
