.product {
  display: flex;
  gap: 8px;

  img {
    width: 136px;
    height: 136px;
    flex: 1;
  }

  .description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    h3,
    span,
    p {
      line-height: 22px;
    }

    span {
      color: var(--accent-color);
    }

    button {
      background-color: inherit;
      border: none;
    }

    .quantity p {
      display: flex;
      align-items: center;
      gap: 8px;
      color: var(--dark-gray-color);
    }

    .deleteButton {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
